body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-image: linear-gradient(
    to right,
    rgba(188, 202, 226, 1),
    rgba(223, 91, 188, 1)
  );
}
h1 {
  color: rgba(201, 58, 58, 1);
  font-size: 3rem;
  margin-bottom: -20px;
}
#board {
  height: 540px;
  width: 630px;
  background-color: rgb(184, 184, 249);
  border: 5px solid navy;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.tile {
  height: 70px;
  width: 70px;
  margin: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 5px solid rgba(97, 54, 107, 1);
}
.red-piece {
  background-color: rgba(255, 170, 170, 1);
}

.yellow-piece {
  background-color: rgba(233, 223, 169, 1);
}
